.navul {
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
    overflow: hidden;
    background-color: #333;
}



li a {
    display: block;
    color: rgb(197, 191, 191);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
}

.navtext {
    font-size: 20px;

    align-items: center;
}