
.navtext{
  font-size: 20px;
  
  align-items: center;
}

.footer{
  height: 40px;
  color: white;
  font-family: Cambria;
  align-items: center;
  align-content: center;
  align-self: center;
  bottom: 0;
  width: 100%;
  position:fixed;
  background-color: #333;
  margin: 0;
  text-align: center;
}



ul {
  list-style-type: none;
  margin: 0;
  padding-right: 30px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container{
  align-items: center;

  margin-top: 1cm;
}

.icons{
  float: right;
}
